x-service-common: &service-common
  privileged: true
  networks:
    - ecommerce-net
  environment: &service-common-env
    MYSQL_HOST: mysql8
    KAFKA_BOOTSTRAP_SERVERS: kafka1:9091,kafka2:9092,kafka3:9094
    CONFIG_HOST: config-server

services:
  config-server:
    <<: *service-common
    container_name: config-server
    build: ../service/config-server
    ports:
      - "8888:8888"
    healthcheck:  # 이 컨테이너가 완전히 실행된 후에 의존 서비스들이 기동되도록 하기 위함
      test: ["CMD-SHELL", "nc -z localhost 8888 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  discovery-service:
    <<: *service-common
    container_name: discovery-service
    build: ../service/discovery-service
    ports:
      - "8761:8761"
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 8888 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  auth-service:
    <<: *service-common
    container_name: auth-service
    build: ../service/auth-service
    ports:
      - "8081:8080"
    environment:
      <<: *service-common-env
    depends_on:
      config-server:
        condition: service_healthy
      discovery-service:
        condition: service_healthy

  user-service:
    <<: *service-common
    container_name: user-service
    build: ../service/user-service
    ports:
      - "8082:8080"  
    environment:
      <<: *service-common-env
    depends_on:
      config-server:
        condition: service_healthy
      discovery-service:
        condition: service_healthy

networks:
  ecommerce-net:
    external: true