services:
  mysql:
    image: mysql:8
    container_name: mysql8
    environment:
      - MYSQL_ROOT_PASSWORD=123123
    ports:
      - "3306:3306"
    networks:
      - ecommerce-net


networks:
  ecommerce-net:
    name: ecommerce-net
    driver: bridge